<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout::layout(~{::title}, ~{::link}, ~{::#content})}">
<head>
	<title>🏠HOME</title>
	<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
	<!-- fragment -->
	<!-- replace : div 내용 대체 / insert : div에 추가 -->
	<!-- ~{파일명::fragment} -->
<!--
	<div th:replace="~{fragment::header}"></div>
	<p th:text="abc"></p>
	<p th:text="1+1"></p>
-->


	<div id="content">
	<div th:if="${username} != null">
		<p th:text="${username}+'님 반갑습니다'"></p>
		<!-- 더하기 연산 사용 -->
		<p th:text="|${username}님 반갑습니다.|"></p>
		<!-- | 머어지 | -->
	</div>
	<div th:if="${teacher} != null" th:object="${teacher}">
		<!-- object 설정시 해당 div 내부에서 속성 즉시 호출 가능 -->
		<h2 th:text="${teacher.name}"></h2>
		<!-- object 사용 X -->
		<p th:text="*{description}"></p>
		<!-- object 사용시 -->
	</div>
	</div>
	<!-- 동적 링크 -->
<!--
	<a th:href="@{/teachers(name=${teacher.name}, orderBy='teacherId')}">TEST</a>
	<a th:href="@{/teachers/{id}(id=${teacher.teacherId})}">TEST</a>
	<div th:insert="~{fragment::footer}"></div>
-->
</body>
</html>