<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{layout::layout(~{::title}, ~{}, ~{::#content})}">

	<title th:text="${post.title}"></title>

	<div id="content">
		<h1>게시글</h1>
		<table th:if="${post}!=null">
			<tr>
				<th>제목</th>
				<td th:text="${post.title}"></td>
			</tr>
			<tr>
				<th>작성시간</th>
				<td th:text="${post.date}"></td>
			</tr>
			<tr>
				<th>본문</th>
				<td th:text="${post.content}"></td>
			</tr>
		</table>
		<form>
			<input type="password" id="pw" placeholder="비밀번호">
			<button type="button" th:onclick="|checkPw(${post.postId}, 'write')|">수정</button>
			<button type="button" th:onclick="|checkPw(${post.postId}, 'delete')|">삭제</button>
		</form>
		
		<h4>댓글 작성</h4>
		<form id="cmntForm" th:action="@{/comment/create/{id}(id=${post.postId})}" method="POST">
			<input type="text" name="content" placeholder="댓글" required>
			<input type="password" name="pw" placeholder="비밀번호" required>
			<input type="submit" value="등록">
		</form>
		
		<h4>댓글</h4>
		<table id="comments">
			<tr th:each="comment: ${comments}">
				<td th:text="${comment.content}"></td>
				<td th:text="${comment.date}"></td>
				<td>
					<button type="button" th:onclick="|checkCmnt(${comment.cmntId})|">삭제</button>
				</td>
			</tr>
		</table>
		
		<script>
		
			// 게시글 비밀번호 유효성 검사
			function checkPw(id, map) {
				
				const pw = document.getElementById("pw").value;
				
				console.log(pw);
			
				$.ajax({
					type: "get",
					url: `/api/posts/${id}`,
					dataType: "json",
					success: function(data){
					
						// 비번 틀림
						if (pw != data.pw) {
							$("#pw").select();
							alert("비번 그거 아님");
							return false;
						}
						
						// 비번 맞음
						window.location.href = `/posts/${map}/${id}`;
					},
					error: function(){
						console.log("errrr");
					}
				});
			}
			
			// 댓글 비밀번호 유효성 검사
			function checkCmnt(id) {
				
				const pw = prompt("비밀번호를 입력하세요.");
				
				console.log(pw);
			
				$.ajax({
					type: "get",
					url: `/api/comments/select/${id}`,
					dataType: "json",
					success: function(data){
					
						// 비번 틀림
						if (pw != data.pw) {
							alert("비번 그거 아님");
							return false;
						}
						
						// 비번 맞음
						deleteCmnt(id);
					},
					error: function(){
						console.log("errrr");
					}
				});
			}
			
			// 댓글 삭제 및 reload
			function deleteCmnt(id) {
				
				$.ajax({
					type: "get",
					url: `/api/comments/delete/${id}`,
					dataType: "json",
					success: function(data){
					
						const table = document.getElementById("comments");
						
						// commentsx table 초기화
						while (table.rows.length > 0) {
        					table.deleteRow(0);
    					}
						
						// 새로운 데이터로 테이블 업데이트
					    for (var i = 0; i < data.length; i++) {
					    	
        					var row = table.insertRow(i);
        					
       						var cell1 = row.insertCell(0);
        					var cell2 = row.insertCell(1);
        					var cell3 = row.insertCell(2);
        					
        					cell1.textContent = data[i].content;
        					cell2.textContent = data[i].date;
        					
        					var button = document.createElement("button");
        					let cmntId = data[i].cmntId;
        					button.textContent = "삭제";
        					button.onclick = () => checkCmnt(cmntId);
        					cell3.appendChild(button);
    					}
						
					},
					error: function(){
						console.log("errrr");
					}
				});
				
			}
			
		</script>
	</div>

</html>