<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:fragment="layout(title, content, script)">
<head>
<meta charset="UTF-8">
<title th:replace="${title}">Cafe Member</title>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
	
	<!-- 로그인 X -->
	<th:block sec:authorize="isAnonymous()">
		<a th:href="@{/}">로그인</a>
		<a th:href="@{/join}">회원가입</a>
	</th:block>
	
	<!-- 로그인 O -->
	<th:block sec:authorize="isAuthenticated()">
		<a th:href="@{/members}">회원조회</a>
		
		<form th:action="@{/signout}" method="post">
			<!-- name은 isAuthenticated() 내부에서만 사용 가능 -->
			<label sec:authentication="name"></label>
			<input type="submit" value="로그아웃">
		</form>
	</th:block>
	
	<br>
	<div th:replace="${content}"></div>
	<th:block th:replace="${script}"></th:block>
	
</body>
</html>